.home {
    color: #fff;

    .background-image {
        background-image: url('../../assets/images/Background.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
}
