@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.cards {
    background-color: transparent;
    padding: 80px 240px;

    .titles {
        text-align: center;
        padding-bottom: 20px;

        .Typography1 {
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
        }

        .Typography2 {
            background: -webkit-linear-gradient(left, #139EBC, #ff01f2);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: 700;
            font-family: 'Montserrat', sans-serif;
        }
    }

    .cardsContainer {
        display: grid;
        grid-template-columns: auto auto;
        background-color: transparent;
        gap: 20px;

        .CardActionArea {
            background-color: #444;
            padding: 10px;
            border-radius: 16px;

            .Typography3 {
                font-weight: 800;
            }

            .Typography4 {
                width: 64%;

                @media (max-width: 1024px) {
                    width: 72%;
                }

                @media (max-width: 769px) {
                    width: 90%;
                }
            }
        }

        @media (max-width: 769px) {
            padding: 8px;
            gap: 15px;
        }

        @media (max-width: 480px) {
            display: grid;
            grid-template-columns: auto;
            row-gap: 20px;
            padding: 10px;
        }
    }

    @media (max-width: 1024px) {
        padding: 100px 100px;
    }

    @media (max-width: 769px) {
        padding: 100px 25px;
    }

    @media (max-width: 480px) {
        padding: 100px 15px;
    }
}
