@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

.sign-up {
    width: 100%;
    padding-bottom: 80px;

    .Box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        row-gap: 20px;

        .Typography1 {
            font-family: "Montserrat", sans-serif;
            font-weight: 600;

            span {
                background: -webkit-linear-gradient(right, #139ebc, #aa1ecd);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        .TextField {
            width: 320px;
            background-color: #ccc;
            border-radius: 10px;
        }

        .Button {
            width: 125px;
            height: 45px;
            background: linear-gradient(to right, #139ebc, #aa1ecd);
            border-radius: 30px;
            font-family: "Montserrat", sans-serif;
            text-transform: none;
            font-weight: 900;
            font-size: 15px;
        }
    }
}