@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
$btn_radius: 10px;
$btn_color1: #fff;
$btn_color2: #000;

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 90px;
    border-bottom: 1px solid #fff;
    background-color: $btn_color2;

    .navLeft {
        .Typography {
            font-family: "Montserrat", sans-serif;
            font-size: 32px;
            font-weight: 600;

            @media (max-width: 480px) {
                font-size: 25px;
            }
        }
    }

    .navRight {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 20px;

        .MenuButtonIcon {
            display: none;
            margin-right: -15px;

            .MenuIcon {
                color: #fff;
                font-size: 30px;
            }

            @media (max-width: 480px) {
                display: block;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        @media (max-width: 480px) {
            .Menu {
                .MenuItem {
                    color: #000;
                }
            }
        }

        .Button2 {
            border-radius: $btn_radius;
            background-color: $btn_color1;
            color: $btn_color2;
            text-transform: none;
            font-weight: 900;

            @media (max-width: 480px) {
                display: none;
            }
        }

        @media (max-width: 769px) {
            column-gap: 10px;
        }
    }

    @media (max-width: 769px) {
        padding: 16px;
    }

    @media (max-width: 480px) {
        padding: 10px 16px;
    }
}
