.footer {
    background-color: #000;
    padding: 70px;
    text-align: center;

    .email {
        font-size: 20px;
        text-decoration: none;
        background: -webkit-linear-gradient(#139EBC, #D33CF9);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

@media (max-width: 1024px) {
    
}

@media (max-width: 769px) {
    
}

@media (max-width: 480px) {
    
}

@media (max-width: 320px) {
    
}